<div class="container">
    <form [formGroup]="userForm" class="row">
        <input type="text" formControlName="name" class=" mb-4 mt-4 form-control col-3" placeholder="Имя" #inName>
        <input type="text" formControlName="surname" class="ml-2 mt-4 form-control col-3 mb-4" placeholder="Фамилия" #inSurname>
        <input type="text" formControlName="phone" class="ml-2 mt-4 form-control col-3 mb-4" prefix="+7" mask="(000) 000-00-00" placeholder="Телефон" #inPhone>
        <button type="button" class="btn btn-success col-2 ml-2 mt-4 mb-4 " (click)="onAdd(inName, inSurname, inPhone)" [disabled]="userForm.invalid">Добавить</button>
    </form>
</div>

